@page "/Abp/AuditLogging"
@using Microsoft.Extensions.Localization
@using global::Syrna.AuditLogging.Localization
@inject IStringLocalizer<AuditLoggingResource> L
@{
}
<h1>AuditLogging</h1>
<p>@L["SamplePageMessage"]</p>